entrypoint = "main.py"
modules = ["python-3.10:v20-20230824-f46249a"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["sh", "-c", "python3 main.py"]
deploymentTarget = "cloudrun"