<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Multi-Page/Navbars/navbar_simple.css') }}">
<span class="navbar">
  <a scramble="100, 1000" id="brand_name" href="#home">Mythos</a>
  <ul class="navbar_buttons">
    <li>
      <a scramble="100, 1000" class="navbar_element" href="#">
        Home
      </a>
    </li>
    <li>
      <a scramble="100, 1000" class="navbar_element" href="#">
        About Us
      </a>
    </li>
    <li>
      <a scramble="100, 1000" class="navbar_element" href="#">
        Join the team
      </a>
    </li>
  </ul>
</span>