<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Multi-Page/Navbars/navbar_simple.css') }}">
<span class="navbar">
  <a onmouseenter="scramble(this)" id="brand_name" href="#home">Mythos</a>
  <ul class="navbar_buttons">
    <li><a onmouseenter="scramble(this, 10, 800)" class="navbar_element active" href="#">  Home          </a></li>
    <li><a onmouseenter="scramble(this, 10, 800)" class="navbar_element" href="#">  Join the team </a></li>
    <li><a onmouseenter="scramble(this, 10, 800)" class="navbar_element" href="#">  About Us      </a></li>
  </ul>
</span>