@import 'general.css';

body {
  background: black;
}

#mouse_blur {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(20vmin);
}

#mouse_glow {
  background: linear-gradient(
    to right,
    var(--accent-red-light),
    var(--accent-red-light),
    darkred
  );
  
  position: absolute;
  left: 50%;
  top: 50%;
  
  width: 45vmin;
  height: 45vmin;
  border-radius: 50%;
  animation: rotate 20s infinite;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
    scale: 1;
  }

  50% {
    scale: 1 1.5;
  }

  100% {
    rotate: 360deg;
    scale: 1;
  }
}