@import '/Miscellaneous/node_modules/bootstrap/main.css';

.brandName {
    font-size: 2rem;
}

.startJumbotron {
    text-align: center;
    font-weight: bolder;
    font-size: 100px;
    transition: all 1s;
}

.startJumbotron #reality {
    text-align: center;
    font-weight: bolder;
    font-size: 150px;
    font-style: italic;
}

span {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.custom-shadow {
    box-shadow: 0px 2px 12px var(--bs-secondary-bg-subtle);
}