<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Multi-Page/footer.css') }}">
<footer class="footer">
  <p>
  <div>
    <p id="bottom-footer">&copy; 2023 MYTHOS. All rights reserved.</p>
    <a href="../About-Us-Page/AboutUs.html"> About Us </a>
    &nbsp | &nbsp
    <a href="../Openings-Page/Openings.html"> Careers </a>
    &nbsp | &nbsp
    <a href="../Downloads/Mythos TOS.pdf"> Terms of Service </a>
    &nbsp | &nbsp
    <a href="../Downloads/Mythos TOS.pdf"> Contact Us</a>
  </div>
  </p>
</footer>