<title>Python Flask ReplAuth</title>
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Main.css') }}">
<script src="{{ url_for('static', filename='JS/Main.js') }}"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">


<!-- Add Bootstrap CSS -->
<link rel="stylesheet" href="path/to/bootstrap/dist/css/bootstrap.min.css">

<!-- Optional: Add Bootstrap JS (Popper.js and jQuery are required) -->
<script src="path/to/jquery.min.js"></script>
<script src="path/to/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="module" defer src="{{ url_for('static', filename='JS/general.js') }}"></script>
<script type="module" defer src="{{ url_for('static', filename='JS/3DRendering.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
