@import '/Miscellaneous/node_modules/bootstrap/main.css';

body {
    background-color: var(--bs-primary);
    color: white;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordionParent{
    max-width: 95vw;
}

.accordionParent .accordionElement {
    position: relative;
    margin: 10px 20px;
}

.accordionParent .accordionElement .accordionHeader {
    cursor: pointer;
    height: 75px;
    background-color: rgba(255,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: 0.05s;
}

.accordionElement.active .accordionHeader {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: 0.05s;
}

#title {
    margin-left: 10px;
}

#plusIcon {
    margin-right: 10px;
    font-size: 1.5rem;
}

.accordionElement.active .accordionHeader #plusIcon {
    animation: spin 0.5s ease-in-out 1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.accordionContent {
    background-color: rgba(255,0,0,0.2);
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.accordionElement.active .accordionContent {
    height: 300px;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}