.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-between; /* Add this line to separate the brand and buttons */
  align-items: center; /* Vertically center the items */
}

.navbar #brand_name {
  margin-top: 5px;
  margin-left: 20px; 
  font-weight: bolder;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar .navbar_buttons {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  margin-top: 10px;
  margin-right: 20px;
  padding: 0;
  display: inline;
}

li {
  margin: 0 7px;
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;
  position: relative; /* Add this line to enable absolute positioning for the pseudo-element */
}

li a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0; 
  width: 0;
  height: 3px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  transition: width 1s ease;
}

li a:hover::before {
  width: 100%;
}